.card-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 850px; /* veya istediğin bir genişlik */
    border: 3px solid #aa1313;
    padding: 5px;
    margin-bottom: 10px;
}

.card img {
    flex-shrink: 0;
}

.card .d-flex {
    display: flex;
    margin-bottom: 3px;
}

.card .ms-2 {
    margin-left: 0.5rem;
}
