<div class="card-container">
    <div class="card">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <img [src]="product.image" height="200px" class="me-2"/>
                <div class="d-flex flex-column">
                    <div class="d-flex">
                        <div>Name:</div>
                        <div class="ms-2">{{product.name}}</div>
                    </div>
                    <div class="d-flex">
                        <div>Total Amount:</div>
                        <div class="ms-2">{{product.totalAmount}}</div>
                    </div>
                    <div class="d-flex">
                        <div>Minimum Limit:</div>
                        <div class="ms-2">{{product.minimum}}</div>
                    </div>
                    <div class="d-flex">
                        <div>Description:</div>
                        <div class="ms-2">{{product.description}}</div>
                    </div> 
                    <div class="alert alert-danger" *ngIf="product.totalAmount <= product.minimum">
                        Total amount is equal or below the minimum limit!
                    </div>                   
                </div>
            </div>
            <div *ngIf="role === 'admin'" class="admin-buttons">
                <button mat-icon-button class="edit" (click)="editProduct()">
                    <mat-icon aria-hidden="false">edit</mat-icon>
                </button>
                <button mat-icon-button class="close" (click)="deleteProductButtonClicked()">
                    <mat-icon aria-hidden="false">close</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
