<div class="container-fluid user-select-none">
    <div class="mt-2">
    @if (shelves.length == 0) {
        It seems there are no boxes...
    } @else {
        <input type="text" [(ngModel)]="filterText" (input)="filterShelves()" placeholder="Enter product name to filter">        
        <table class="table table-hover boxTable">
            <thead>
                <tr>
                    <th>Shelf Id</th>
                    <th>Shelf Count</th>
                    <th>Shelf Capacity</th>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    @if (role == "admin" && selectedShelf != null){
                        <th>Actions</th>
                    } 
                </tr>
            </thead>
            <tbody>
                @for (shelf of filteredShelves; track shelf.id) {
                    <tr [class.table-primary]="shelf.id == selectedShelf?.id"
                    class="shelfRow"
                    (click)="selectShelf(shelf)">
                        <td>{{shelf.id}}</td>
                        <td>{{shelf.count}}</td>
                        <td>{{shelf.capacity}}</td>
                        <td>{{shelf.productId}}</td>
                        <td>{{shelf.productName}}</td>
                        <td> 
                            @if (role == "admin" && selectedShelf != null && shelf.id == selectedShelf.id) { 
                                <button class="btn btn-sm btn-warning" (click)="editShelf()">
                                    <span class="d-none d-md-inline">Edit</span>
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="btn btn-sm btn-danger ms-2" (click)="deleteShelf()">
                                    <span class="d-none d-md-inline">Delete</span>
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                                
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    </div>

</div>
