.shelfTable {
    border-collapse: collapse;
    width: 100%;
}

.shelfTable th, .shelfTable td {
    border: 1px solid #dddddd;
    text-align: center; /* Sütun içeriğini ortala */
    padding: 8px;
    max-width: 150px; /* Maksimum genişliği ayarla */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shelfTable th {
    background-color: #f2f2f2;
}

.shelfTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.shelfTable tr:hover {
    background-color: #e9e9e9b9;
}

.container-fluid {
    background-color: #2e456e;
}
