
<div class="container-fluid">
    All Products With Count:
    <div class="d-flex flex-column">
        <app-product-card class="m-2" 
           *ngFor="let product of products" [product]="product"
           (edit)="editProduct($event)"
           (delete)="deleteProduct($event)"
           >
        </app-product-card>
    </div>
 </div>

<!-- edit ozelligi mi editfruite baglayacagim diyorum $event yaziyoruz
edit ve deleti bu metotlara baglamis olduk
bunlarin da parametrelerini $event diye ozel bir kelimeyle aliyoruz -->
