<div class="container-fluid user-select-none">
    <div class="mt-2">
    @if (users.length == 0) {
        It seems there are no users...
    } @else {
        <table class="table table-hover boxTable">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>User Surname</th>
                    <th>User Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (user of users; track user.email) {
                <tr [class.table-primary]="user.id == selectedUser?.id" class="shelfRow" (click)="selectUser(user)">
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td>{{user.email}}</td>
                    <div>
                    <td>
                        <button class="btn btn-warning btn-sm ms-2" (click)="editUser()">Edit</button>
                        <button class="btn btn-danger btn-sm ms-2" (click)="deleteUser()">Delete</button>
                    </td>
                </div>
                </tr>
                }
            </tbody>
        </table>
        
    }
    </div>
</div>