<div class="container user-select-none">
    <div class="mt-2">
        <table class="table table-hover  table-striped  shelfTable">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>User Surname</th>
                    <th>User Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (user of users; track user.email) {
                <tr [class.table-primary]="user.id == selectedUser?.id" class="shelfRow" (click)="selectUser(user)">
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <div>
                        <button class="btn btn-primary btn-sm ms-2" (click)="editUser()">
                            <span class="btn-text">Change Password</span>
                            <span class="btn-icon">🔑</span>
                        </button>
                        
                        <button class="btn btn-danger btn-sm ms-2" (click)="deleteUser()">
                            <span class="btn-text">Delete</span>
                            <span class="btn-icon">❌</span>
                        </button>
                    </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>      
        </div>
</div>