<ul class="navbar-nav me-auto">				
    <li class="nav-item">				
      <a class="nav-link" routerLink="admin/product" routerLinkActive="active">Fruit Management</a>				
    </li>				
    <li class="nav-item">				
      <a class="nav-link" routerLink="admin/shelf" routerLinkActive="active">Box Management</a>				
    </li>				
    <li class="nav-item">				
      <a class="nav-link" routerLink="product/create" routerLinkActive="active">Fruit Admittance</a>				
    </li>				
    <li class="nav-item">				
      <a class="nav-link" routerLink="product/sale" routerLinkActive="active">Fruit Sale</a>				
    </li>				
  </ul>				
