<div class="w-100 vh-100">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand">Menu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <div class="hesap">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Product
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" [routerLink]="['/menu/product']" [class.active]="url == '/menu/product'">Product Management</a></li>
                    @if(role =='admin') {
                      <li><a class="dropdown-item" [routerLink]="['/menu/product/create']" routerLinkActive="active">Product Create</a></li>
                    }
                    @if(role == 'supervisor') {             
                    <li><a class="dropdown-item" [routerLink]="['/menu/product/accept']" routerLinkActive="active">Product Accept</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/menu/product/sale']" routerLinkActive="active">Product Sale</a></li>
                    }
                  </ul>
                </li>
              </ul>
            </div>
            <div class="hesap">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Shelf
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" [routerLink]="['/menu/shelf']" [class.active]="url == '/menu/shelf'">Shelf Management </a></li>
                    <li><a class="dropdown-item" [routerLink]="['/menu/shelf/edit']" routerLinkActive="active">Shelf Edit</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            @if(role =='admin'){
            <div class="hesap">
              <ul class="navbar-nav">            
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    User
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">                   
                      <li><a class="dropdown-item" [routerLink]="['/menu/user']" [class.active]="url == '/menu/user'">User Management</a></li>
                      <li><a class="dropdown-item" [routerLink]="['/menu/user/create']" routerLinkActive="active">User Create</a></li>
                      <li><a class="dropdown-item" [routerLink]="['/menu/user/changepassword']" routerLinkActive="active">User Password Change</a></li>
                                     
                  </ul>
                </li>                
              </ul>
            </div>
          } 
          </ul>
          <div class="hesap">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Account
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" [routerLink]="['/menu/account']">Details</a></li>
                    <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                  </ul>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </nav>
  <div class="w-100 h-100 d-flex">
      <router-outlet />
  </div>

</div>
