.kategoriler {
    width: 12rem;
    margin: 1rem;
    button {
        width: 8rem;
        margin-bottom: 1rem;
    }
    .aktifKategori {
        background-color: red;
    }
}
.hesap {
    margin-right: 5rem;
}
.active {
    font-weight: bold;
    text-decoration: underline;
    color: brown !important;
 }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/other/depo2.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
  }