.kategoriler {
    width: 12rem;
    margin: 1rem;
    button {
        width: 8rem;
        margin-bottom: 1rem;
    }
    .aktifKategori {
        background-color: red;
    }
}
.hesap {
    margin-right: 5rem;
}
.active {
    font-weight: bold;
    text-decoration: underline;
    color: brown !important;
 }
 .w-100.vh-100 {
    background-color: #319e99; /* Mavi arka plan rengi */
  }