<section class="vh-100" style="background-image: url('/assets/other/login.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <form class="h-100" [formGroup]="loginForm" (submit)="login()">
    <div class="container-fluid h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6">
          <div class="card" style="border-radius: 1rem; background-color: rgba(150, 150, 150, 0.8);">
            <div class="card-body p-4 p-lg-5 text-black text-center">
              <div class="mb-4">
                <img src="/assets/other/logo.svg" alt="Atom Logo" class="me-3" style="width: 60px; height: 60px;">
                <span class="h1 fw-bold" style="font-family: 'Arial Black', sans-serif;">ATOMS</span>
              </div>
              <h5 class="fw-bold mb-3 pb-2" style="font-family: 'Arial', sans-serif; font-size: 1.5rem; color: #fff;">Sign in to your account</h5>
              <div data-mdb-input-init class="form-outline mb-4" style="width: 300px; margin: 0 auto;">
                <input formControlName="email" type="email" id="typeEmail" class="form-control form-control-lg" style="background-color: rgba(150, 150, 150, 0.6); border-color: rgba(255, 255, 255, 0.5); color: #fff;">
                <label class="form-label" for="email" style="color: #fff; font-size: 1.2rem;">Email address</label>
              </div>
              <div data-mdb-input-init class="form-outline mb-4" style="width: 300px; margin: 0 auto;">
                <input formControlName="password" type="password" id="typePassword" class="form-control form-control-lg" style="background-color: rgba(150, 150, 150, 0.6); border-color: rgba(255, 255, 255, 0.5); color: #fff;">
                <label class="form-label" for="password" style="color: #fff; font-size: 1.2rem;">Password</label>
              </div>
              <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary" style="background-color: #ff6219; border-color: #ff6219;">Sign in</button>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </form>
</section>
