<div class="sayfa">
    {{ passwordForm.get('newPassword')?.errors | json }}
    <form [formGroup]="passwordForm" (ngSubmit)="submit()">
        <div class="mb-3">
            <label for="txtEmail" class="form-label">E-Mail</label>
            <input formControlName="email" type="text" class="form-control" id="txtEmail" aria-describedby="e-mail">
        </div>
        <div class="mb-3">
            <label for="txtOldPassword" class="form-label">Old Password</label>
            <input formControlName="oldPassword" type="password" class="form-control" id="txtOldPassword" aria-describedby="Old Password">
        </div>
        <div class="mb-3">
            <label for="txtNewPassword" class="form-label"> New Password</label>
            <input formControlName="newPassword" type="password" class="form-control" [class.is-invalid]="!passwordForm.get('newPassword')?.valid && passwordForm.get('newPassword')?.touched" id="txtNewPassword" aria-describedby="newPassword">
            <div *ngIf="!passwordForm.get('newPassword')?.valid && passwordForm.get('newPassword')?.touched" class="small text-danger">
                <div *ngIf="passwordForm.get('newPassword')?.errors?.['required'] ">Şifre alanını boş geçemezsiniz.</div>
                <div *ngIf="passwordForm.get('newPassword')?.errors?.['minlength']">Şifre en az 3 karakter olmalıdır</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="txtPasswordVerification" class="form-label">Password Verification</label>
            <input formControlName="passwordVerification" type="password" class="form-control" id="passwordVerification" aria-describedby="passwordVerification">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!passwordForm.valid">Update</button>
                <button class="btn btn-warning ms-2" [routerLink]="['..']">Geri</button>
    </form>
</div>
