<div class="sayfa">
    <form [formGroup]="passwordForm" (ngSubmit)="submit()" class="styled-form">

        <div class="mb-3">
            <label for="txtNewPassword" class="form-label">New Password:</label>
            <input formControlName="newPassword" type="password" class="form-control" [class.is-invalid]="!passwordForm.get('newPassword')?.valid && passwordForm.get('newPassword')?.touched" id="txtNewPassword" aria-describedby="password">
            <div *ngIf="!passwordForm.get('newPassword')?.valid && passwordForm.get('newPassword')?.touched" class="small text-danger">
                <div *ngIf="passwordForm.get('newPassword')?.errors?.['required'] ">The password field cannot be empty.</div>
                <div *ngIf="passwordForm.get('newPassword')?.errors?.['minlength']">Password must be at least 3 characters.</div>
                <div *ngIf="passwordForm.get('newPassword')?.errors?.['pattern']">Password must contain at least 1 number.</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="txtPasswordVerification" class="form-label">Password Verification:</label>
            <input formControlName="passwordVerification" type="password" class="form-control" id="passwordVerification" aria-describedby="passwordVerification">
            <div *ngIf="passwordForm.hasError('passwordMismatch') && passwordForm.get('passwordVerification')?.touched" class="small text-danger">
                Password did not match.
            </div>
        </div>
        
        <button class="btn btn-primary" type="submit" [disabled]="!passwordForm.valid">Update</button>
        <button class="btn btn-warning ms-2" type="button" (click)="close()">Back</button>
    </form>
</div>
